*{
    margin: 0;
    padding: 0;
}
body
{
    background-color: gray;
}
.container{
    display: flex;
}
.right-container
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 20%;
    background-color: white;
    height: auto;
}
.youtubelogodiv
{   
    display: flex;
    flex-direction: row;
    margin: 15px 0 0 15px;
}
#menulogo
{
    font-size: 22px;
    width: 16px;
    padding: 10px 15px 10px 10px;
    border-radius: 50%;
}
#menulogo:hover
{
    background-color: lightgray;
    cursor: pointer;
    /* margin-top:-30px; */
}
#youtubelogo
{
    color: red;
    font-size: 35px;
    margin: 4px 0 0 15px;
    cursor: pointer;
}
#youtubeName
{
    margin: 10px 0 0 8px;
    font-size: 20px;
    cursor: pointer;
}
.youtubelogodiv > p
{
    margin-left: 10px;
}
.options
{
    display: block;
    flex-direction: column;
}
.homediv
{
    margin-top: 15px;
    padding: 8px 0 7px 17px;
}
#homeicon
{
    font-size: 30px;
}
.homediv > h4
{
    display: inline;
    margin-left: 8%;
    font-size: 20px;
}
.homediv:hover
{
    background-color: lightgray;
}
.explorardiv
{
    margin-top: 4px;
    padding: 10px 0 5px 17px;
    
}
.explorardiv > h4
{
    display: inline;
    margin: 0 0 0 25px;
    font-size: 20px;
}
.options > .explorardiv:hover
{
    background-color: lightgray;
}
#compassicon
{
    font-size: 30px;
}
.bodymaterialdiv
{
    display: flex;
    flex-wrap: wrap;
    background-color: lightgray;
    flex: 80%;
}
.searchdiv
{
    margin: 5px 0 0 15%;
    border: 1px solid black; 
    width: 50%;
    height: 20%;
}
input
{
    display: inline;
    flex-direction: row;
    width: 95%;
    padding: 5px;
    border: none;
}
input::placeholder
{
    font-family:cursive;
    font-size: 20px ;
}
#searchicon
{
    padding: 0.2px 2px 6px 4px;
    background-color: lightgray;
    font-size: 25px;
}