*{
    margin: 0;
    padding: 0;
}
body
{
    background-color: gray;
}
.searchdiv
{
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    padding: 15px 0  15px 30px;
    margin: auto;
}
#menuicon
{
    font-size: 25px;
    padding: 9px 12px 7PX 12PX;
}
#menuicon:hover
{
    background-color: rgb(156, 156, 156);
    border-radius: 50%;
    cursor: pointer;
}
.youtube-iconname
{
    cursor: pointer;
}
#youtubeicon
{
    font-size: 27px;
    padding:7px 9px ;
    margin-left: 20px;
    color: red;
}
.youtube-iconname > h4
{
    display: inline;
    font-size: 25px;
}
.placeholder > input
{
    width: 400px;
    border: none;
    padding-right: 10px;
}
.placeholder
{
    margin-left: 13%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}
input::placeholder
{
    margin-left: 20px;
    font-size: 16px;
}
#searchicon
{
    font-size: 27px;
    background-color: rgb(189, 186, 186);
    padding: 5px 15px 0 15px;
    display:inline;
}
#searchicon:hover
{
    cursor: pointer;
    background-color: lightgray;
}
#microphone
{
    font-size: 30px;
    margin: 3px 0 0 25px;
    padding: 7px 10px 4px 10px;
    border-radius:50% ;
    background-color: rgb(177, 176, 176);
    cursor: pointer;
}
.right-cornordiv
{
    display: flex;
    margin-left: 16% ;
    flex-direction: row;
}
#square
{
    font-size: 30px;
    margin-top: 10px;
    cursor: pointer;
}
#dots
{
    font-size: 30px;
    margin:10px 0 0  50PX;
    cursor: pointer;
}
.signindiv
{
    margin-left: 55px;
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(0, 157, 255);
    cursor: pointer;
}
#user
{
    font-size: 27px;
    margin-top: 8px;
    color: rgb(0, 157, 255);
    padding-left: 8px;
}
.signindiv > h4
{
    font-size: 17px;
    margin: 13px 0 0 17px;
    color: rgb(0, 157, 255);
    padding: 0 7px 2px 0;
}